.profile-functions {
  display: flex;
  justify-content: flex-start;
  width: 100%;

  padding-top: 10px;

  background-color: rgba(0, 0, 0, 0.1);
}
.profile-functions-button {
  margin: 0 15px;
  padding: 10px 15px;
  background-color: white;
  font-size: 18px;
  border-radius: 8px 8px 0 0;
}
.profile-functions-button-active {
  margin: 0 15px;
  padding: 10px 15px;
  background-color: rgba(0, 0, 0, 0.14);
  font-size: 18px;
  border-radius: 8px 8px 0 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
.profile-body {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  border-right: 1px solid rgba(0, 0, 0, 0.125);
  padding-top: 40px;
}
